:root {
  --ff-mono: "Roboto Mono", monospace;
  --bg-table: hsl(var(--hue), 63%, 3%);
  --ft-empty: hsl(var(--hue), 4%, 32%);
}

#app table + div:not(.empty) {
  display: none;
}

div.empty {
  background: var(--bg-table) no-repeat center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  height: 40rem;
  width: 106rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  border: 1px solid var(--line-color);
  border-top: none;
}

div.empty img {
  width: 15.2rem;
}

div.empty p {
  font-family: var(--ff-mono);
  color: var(--ft-empty);
  font-size: 4rem;
  font-weight: 700;
  line-height: 2.4rem;
}
