* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hue: 195;

  --ff-base: "Roboto", sans-serif;

  --bg-color: hsl(0, 0%, 0%);
  --font-color: hsl(240, 9%, 89%);

  --bg-input: hsl(var(--hue), 65%, 10%);
  --ft-input: hsl(var(--hue), 6%, 51%);
  --color-button-1: hsl(var(--hue), 91%, 25%);
  --color-button-2: hsl(var(--hue), 0%, 100%);

  --theader-bg-color: hsl(var(--hue), 72%, 13%);
  --bg-cell-1: hsl(var(--hue), 61%, 6%);
  --bg-cell-2: hsl(var(--hue), 65%, 7%);

  --line-color: hsl(var(--hue), 31%, 42%);
}

body {
  font-size: 1.6rem;

  background-color: var(--bg-color);
  color: var(--font-color);

  height: 100vh;
}

body * {
  font-family: var(--ff-base);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input,
button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

#app {
  margin: 0 auto;
  padding: 2rem;

  max-width: 128rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 5rem;
}

header .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header .search input {
  background-color: var(--bg-input);

  width: 43rem;
  height: 4.2rem;
  padding: 1.6rem;
  border-radius: 0.5rem;
}

header .search button {
  background-color: var(--color-button-1);
  color: var(--color-button-2);
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  height: 4.2rem;
  padding: 0 1.6rem;
  border-radius: 0.5rem;

  transition: all 0.4s;
}

header .search button #estrela path {
  fill: var(--color-button-2);
  transition: all 0.4s;
}

header .search button:hover {
  background: var(--color-button-2);
  color: var(--color-button-1);
}

header .search button:hover #estrela path {
  fill: var(--color-button-1);
}

table {
  margin-top: 8rem;
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
  outline: 1px solid var(--line-color);
  border-radius: 1rem;
}

table * {
  font-size: 2rem;
  color: var(--font-color);
}

thead th {
  background-color: var(--theader-bg-color);

  height: 6rem;
  text-align: left;
  padding: 0 2rem;
  font-size: 2.5rem;
}

thead th:first-child {
  border-top-left-radius: 1rem;
}

thead th:last-child {
  border-top-right-radius: 1rem;
}

tbody td {
  padding: 2rem;
}

tbody tr td {
  background-color: var(--bg-cell-1);
}

tbody tr {
  border-bottom: 1px solid var(--line-color);
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:nth-child(even) td {
  background-color: var(--bg-cell-2);
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

tbody .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

tbody .user img {
  width: 8rem;
  height: 8rem;

  object-fit: cover;
  border-radius: 50%;
}

tbody .remove {
  color: #f00;
  cursor: pointer;
}
